body{
    background-color: blanchedalmond;
}

a{
    text-decoration: none;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-animated {
    animation: slideInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn-selection {
    background-color: black;
    color: white;
    padding: 10px 30px;
}

.grid-container{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto auto;
    padding: 10px;
    grid-gap:10px;
}

.grid-item{
    background-color:grey;
}

header{
    background: url("./../images/header_image.jpg") repeat-x;
    font-size:40px;
    text-align: left;
    grid-column-start: 1;
    grid-column-end:8;
    padding-left:20px;
}


nav.grid-item{
    background-color:black;
    font-size:30px;
    text-align:center;
    grid-column-start:6;
    grid-column-end:8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 0px;
}


nav ul{
    list-style:none;
    margin:10px;
}

nav ul li{
    display:inline;
    margin-left:25px;
}


nav ul li a{
    color: blue;
}

aside {
    background-color: antiquewhite;
    grid-row: 3 / 4;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: cursive;
    font-style:italic;
    font-size: 15px;
}

aside ul{
    list-style: none;
    display:block;
}

aside ul li{
    grid-column:1 / 3;
    display:block;
    margin-bottom:15px;
}

aside ul li a {
    color:white;
    text-decoration: none;
}

section.grid-item {
    background-color: aqua;
    grid-row:3/4;
    grid-column: 2/8;
    padding:100px;
    text-align: center;
    vertical-align: center;

}

footer{
    background: url("./../images/header_image.jpg") repeat-x;
    grid-column: 1 / 8;
    height:100px;
}