body {
    /*background-color: white;*/
    margin: auto 0;
    text-align: center;
    color: #333;
    background: #e8ecf0 url(i/denim2.png) no-repeat 50% 350px;
    border:1px solid black;
    margin:10px;
}
#ul-header li {
    display: inline;
    padding:10px 30px;
    font-size:20px;
}

li {
    list-style: none;
}
.heading-main {
    display: block;
    font-size: 22px;
    margin-bottom: 10%;
    font-weight: 700;
    letter-spacing: 12px;
    text-align: center;
    animation-name: slideInLeft;
    animation-duration: 2s;
    line-height:250%;
}

heading-sub {
    display: block;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 10px;
    text-align: center;
    /*animation-name: slideInRight;
    animation-duration: 2s;*/
}

@media (min-width: 450px) and (min-height: 300px) {
    .heading-main {
        display: block;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 18px;
        text-align: center;
        animation-name: slideInLeft;
        animation-duration: 4s;
    }

    .heading-sub {
        display: block;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 16px;
        text-align: center;
        animation-name: slideInRight;
        animation-duration: 4s;
    }
}

/*black round box penguiny*/
.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    animation-name: slideInButton;
    animation-duration: 2s;
    position: relative;
}

.course-selection {

    display: block;
    font-size: 22px;
    margin-bottom: 10%;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: left;
}

    /*which font datalist better?*/
.course-selection {
    display: block;
    margin-bottom: 0.25em;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-style: normal;
}

.course-selection li {
        line-height: 150%
}

a {
    text-decoration: none
}

.btn-animated {
    animation: slideInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn-selection {
    background-color: black;
    color: white;
    padding: 10px 30px;
}

#ul-navigation li {
    padding: 15px 0px 20px 30px;
    width: 500px;
    margin-left: 200px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("./../images/banner1.jpg");
    background-repeat: repeat-x;
    /*border:*/
}

footer{
    background-color:black;
    padding-bottom:100px;
}

    /*.btn-white::after {
        background-color: #ffffff;
    }

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}*/


/*aside {
    width: 20%;   
}*/




/*@media only screen and (min-width: 1132px) .course-selection {
    position: absolute;
    top: 360px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent;
}*/